.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
}

img {
    width: 70%;
    height: auto;
}

h1 {
  background-color: rgb(21, 205, 61);
  padding: 10px;
}

h2 {
  background-color: rgb(232, 174, 87);
  padding: 5px;
}

